html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	background-color: steelblue;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}

ul, ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.empty {
	width: 150px;
	height: 150px;
	margin: 10px;
	border: 3px solid black;
	background-color: #fff;
}

.fill {
	background-image: url('https://source.unsplash.com/random/150x150');
	height: 145px;
	width: 145px;
	cursor: pointer;
}

.hold {
	border: 5px solid #ccc;
}

.hovered {
	background-color: #333;
	border-color: white;
	border-style: dashed;
}

@media (max-width: 800px) {
	body {
		flex-wrap: wrap;
	}
}
