@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #ecf0f1;
  font-family: 'Roboto', sans-serif;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow-x: hidden;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.card {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  width: 350px;
}

.card-header {
  height: 200px;
}

.card-header img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card-content {
  padding: 30px;
  background-color: #fff;
}

.card-excerpt {
  color: #777;
  margin: 10px 0 20px;
}

.author {
  display: flex;
  /* flex-shrink: 0; */
  /* align-items: center; */
}

.profile-img {
  border-radius: 50%;
  overflow: hidden;
  width: 50px;
  height: 50px;
  margin: 10px;
  /* flex-shrink: 0; */
}

.author-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  width: 100px;
}

.author-info small {
  color: #aaa;
  margin-top: 6px;
}

.animated-bg {
  background-image: linear-gradient(
    to right,
    #f6f7f8 0%,
    #edeef1 10%,
    #f6f7f8 20%,
    #f6f7f8 100%
  );
	background-size: 200% 100%;
	animation: bgPos 1s linear infinite;
}

.animated-bg-text {
	border-radius: 50px;
	display: inline-block;
	width: 100%;
	height: 10px;
	margin: 0;
}

@keyframes bgPos {
	0% {
		background-position: 50% 0;
	}
	100% {
		background-position: -150% 0;
	}
}